{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<form class="mt-5">
    <div class="row">
        <div class="col-12"><p class="text-center" id="titre-form">Créez vos identifiants</p></div>
    </div>
    <div class="form-row mt-4">
        <label for="staticEmail" class="col-2 col-form-label text-right">E-mail</label>
        <div class="col-3">
            <input type="mail" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label"></label>
        <div class="col-3"></div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-3">  
        <label for="staticEmail" class="col-2 col-form-label text-right">Créez votre mot de passe</label>
        <div class="col-3">
            <input type="password" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label text-right">Confirmation mot de passe</label>
        <div class="col-3">
            <input type="password" class="form-control"/>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row mt-5">
        <div class="col-12"><p class="text-center" id="titre-form">Créez vos identifiants</p></div>
    </div>

    <div class="form-row mt-4">
        <label for="staticEmail" class="col-2 col-form-label text-right">E-mail</label>
        <div class="col-3">
            <input type="mail" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label"></label>
        <div class="col-3"></div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-3">  
        <label for="staticEmail" class="col-2 col-form-label text-right">Nom</label>
        <div class="col-3">
            <input type="password" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label text-right">Numéro de Portable</label>
        <div class="col-3">
            <input type="password" class="form-control"/>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-3">  
        <label for="staticEmail" class="col-2 col-form-label text-right">Adresse</label>
        <div class="col-3">
            <input type="password" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label text-right">Numéro de téléphone fixe</label>
        <div class="col-3">
            <input type="password" class="form-control"/>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-4">
        <label for="staticEmail" class="col-2 col-form-label text-right">Complément d'adresse</label>
        <div class="col-3">
            <input type="mail" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label"></label>
        <div class="col-3"></div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-4">
        <label for="staticEmail" class="col-2 col-form-label text-right">Code Postal</label>
        <div class="col-3">
            <input type="mail" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label"></label>
        <div class="col-3"></div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-4">
        <label for="staticEmail" class="col-2 col-form-label text-right">Ville</label>
        <div class="col-3">
            <input type="mail" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label"></label>
        <div class="col-3"></div>
        <div class="col-1"></div>
    </div>

    <div class="form-row mt-4">
        <label for="staticEmail" class="col-2 col-form-label text-right">Pays</label>
        <div class="col-3">
            <input type="mail" class="form-control"/>
        </div>
        <label for="staticEmail" class="col-3 col-form-label"></label>
        <div class="col-3"></div>
        <div class="col-1"></div>
    </div>

</form>
{% endblock %}
