{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <p>
                AJOUT
            </p>
        </div>
    </div>
    
{% endblock %}
