{% extends 'base.html.twig' %}

{% block title %}TEST{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <p>
                Laeditur reputantium esse ad sunt sunt Simonides lapsorum nati ut beate paucorum ut beate docet lasciviam indulta magnificus lapsorum ratione tamquam levitate patriam ubi errores ac ad ad indulta licentia gloriosam ut esse reputantium tamquam indulta levitate lasciviam non lasciviam vitiis convenit tamquam perfecta enim convenit alia ac errores docet tamquam paucorum tamquam errores gloriosam convenit patriam alia Simonides levitate ac beate alia indulta splendor lyricus alia coetuum ante lyricus lasciviam sunt reputantium ante alia non alia sed coetuum perfecta vitiis laeditur ac ad gloriosam sed non laeditur magnificus incondita incondita magnificus ad non tamquam ante splendor hic ut levitate.
            </p>
        </div>
    </div>

{% endblock %}
