{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            {% for client in clients %}
                <div>       
                    {{ client.cliName }}
                    {{ client.cliPhoneNumber }}
                    {{ client.cliBirthdate | date("d/m/Y") }}
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
